{% extends "base.html" %}

{% block content %} 


<!--Register--> 
<div class="container py-5">
	<form method="POST">
		{% csrf_token %}
		<div class="loginfrm">
			<div class="logname">
				<h1>Register</h1>
			</div>
			<div class="row">
				<tr>
					<td>
						<input type="text" placeholder="Username" name="username" maxlength="150" autofocus required id="id_username" title="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only">
					</td>
				</tr>
			</div>
				<div class="row">
				<tr>
					<td>
						<input type="email" placeholder="Email" name="email" required id="id_email">
					</td>
				</tr>
				</div>
				<div class="row">
				<tr>
					<td>
						<input type="password" placeholder="Password" name="password1" autocomplete="new-password" required id="id_password1" title="Your password can’t be too similar to your other personal information">
					</td>
				</tr>
				</div>
				<div class="row">
				<tr>
					<td>
						<input type="password" placeholder="Password Confirmation:" name="password2" autocomplete="new-password" required id="id_password2" title="Enter the same password as before, for verification."> 
					</td>
				</tr>
				</div>
				<div class="row">
					<input type="submit" name="login" value="Register">
				</div>
		</div>
	</form>
</div>

{% endblock %}
